<html>
    <head>
        <title>Welcome to {{ item.host }} (alias {{ item.alias | join(',') }}) !</title>
    </head>
    <body>
        <h1>Success! The {{ item.host }} virtual host is working and listen on {{ item.port }}.</h1>
        <h2>You can find this file in {{ item.document_root }}/index.html </h2>
    </body>
</html>