<VirtualHost *:{{ item.port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ item.host }}
    ServerAlias {{ item.alias| join(' ')  }}

    {% if item.directory_index is defined and item.directory_index|length %}
    DirectoryIndex  {{ item.directory_index  }}
    {% endif %}
    DocumentRoot {{ item.document_root }}
    ErrorLog ${APACHE_LOG_DIR}/{{ item.host }}/error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.host }}/access.log combined
</VirtualHost>